.homepage-div {
    padding : 1rem;
    background: whitesmoke;
    text-align: center;
}

.products-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
    justify-content: space-around;
    align-items: center;    
    background: #000;
    padding: 1rem;
    border-radius: 12px;
}