.login__signin {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
}
.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.login__box {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.85);
  padding: 20px;
  box-shadow: 2px 0px 6px 1px grey;
}

.login__box h1 {
  color: rgb(11, 111, 11);
  font-weight: 500;
  margin-bottom: 20px;
}

.login__box form h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: rgb(44, 121, 44);
}
h3 {
  margin-bottom: 3px;
  color: rgb(44, 121, 44);
  font-size: 14px !important;
  font-weight: bold;
}

.login__box form input {
  height: 35px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  box-shadow: 2px 0px 6px 1px grey;
  border: none;
  padding:10px;  
  font-size:15px;
  font-weight: 600;
}

.login__box label {
  margin-top: 15px;
  font-size: 12px;
  line-height: 15px;
  color: rgb(5, 65, 5);
}

.login__signInButton {
  background: #4caf51;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(12, 148, 12);
  margin-top: 10px;
}

.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: rgb(44, 121, 44);
  background-color: rgb(127, 133, 20);
  font-weight: 500;
  color: white;
}
.login__signInButton:hover {
  background: white;
  color: black;
}
.login__registerButton:hover {
  background: white;
  color: rgb(127, 133, 20);
}
.container {
  display: flex;
}

.container p {
  font-size: 13px;
  font-weight: 600;
}
