::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.9; /* Firefox */
  text-transform: capitalize;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
  text-transform: capitalize;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  text-transform: capitalize;
}