.manageEmployee-main-div {
    width: 100%;
    margin-top: 10%;
}

.manage-employee-header {
    text-align: center;
    margin-bottom: 10%;
}

p {
    font-size: 20px;
    color:floralwhite;
    font-weight: 700;
}

input {
    height: 2rem;
    border-radius: 10px;
    border: none;
    width: 25rem;
    font-size: 18px;
    color: #343f56;
    padding: 10px;
}

#button-add-employee {
    margin: 0 auto;
    width: auto;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background:palegreen;
}

.input-form {
    display: grid;
    grid-template-columns: auto;
    justify-content:center;
}

.current-employee {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    justify-content: center;
    text-align: center;
}

.all-employee {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.all-employee>p {
    width: 300px;
}

.add-another-employee {
    text-align: center;
    margin-top: 10%;
}

.add-another-employee>h3 { 
    color: blueviolet;
}

.employee-card {
    display:grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 8px;
    justify-content: space-evenly;
}

.employee-card>button{
    margin: 0 auto;
    width: auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background:lightcyan;
}