.admin-div {
  padding: 2rem;
  text-align: center;
}

h3 {
  color: coral;
}

.supplier-show {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.5rem;
  justify-content: space-evenly;
}

.cards {
  text-align: center;
}

#toast-container {
  max-width: 300px !important;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}
