.admin-div {
    display: grid;
    padding: 1rem;
    grid-template-columns: 19% 80%;
    grid-gap: 1%;
    justify-content: space-evenly;
    height : 100vh;
}

.left-pannel {
    padding: 0.5rem;
    background: #000;
    height: 100%;
    border-radius: 10px;
}

.right-pannel {
    padding: 1rem;
    background: darkorange;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.left-header {
    color: white;
    text-align: center;
}

.left-options {
    display: grid;
    grid-template-columns: auto;
    margin-top: 10%;
    grid-gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
}

.option-btn {
    font-size: 16px;
    font-weight: 'bold';
    width: auto;
    padding: 0.5rem;
    border-radius: 10px;
    background: #dbe6fd;
    border: none;
}

.option-btn:hover {
    background: #ffc107;
}

.selectedID {
    background: #c6ffc1;
}

.selectedID:hover {
    background: #c6ffc1;
}

.inside-left-pannel {
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    text-align: center;
    margin-left: 2.5%;
}